<!DOCTYPE html>
<html>
	<head>
		<title>Marmosets | <%= marmosets[0].name %></title>
	</head>
	<body>
		<p>This is <%= marmosets[0].name %>, the <%= marmosets[0].color %> marmoset.  (S)he is <%= marmosets[0].age %> months old and weighs <%= marmosets[0].weight %> ounces.</p>
		<a href="/marms/edit/<%= marmosets[0].id %>">Edit <%= marmosets[0].name %></a><br>
		<a href="/">Back</a>
	</body>
</html>